/* Jos haluan vaihtaa navbarin fixediksi, tämä lisää sille oman tilansa sivun päälle
body::before {
	display: block;
	content: "";
	height: 60px;
} 
*/

#mainheader h1 {
	font-size: 5rem;
	word-break: normal;
}

.mainsub {
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 2.5rem;
}

.headerfont {
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.firstbg {
	background-image: url(imgs/newbackground-blur.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.secondbg {
	background-image: url(imgs/workspacebg-blur.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.thirdbg {
	background-image: url(imgs/mountainsbg2.jpg);
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
}

#mainheader {
	margin: 5rem auto;
}

#aboutme {
	font-size: large;
}

.outlinebtn {
	background-color: rgba(0, 255, 255, 0);
	border-color: blueviolet;
	transition: .5s ease;
}

.outlinebtn:hover {
	background-color: rgba(219, 136, 240, 0.726);
	border-color: none;
}

.progress-bar {
	background-color: rgb(221, 215, 123);
}

.language {
	width: 20%;
	text-align: right;
}

.topicheader {
	font-size: 3rem;
}

.topicsubtitle {
	font-weight: 300;
	letter-spacing: 3px;
}

.headernumber {
	color: blueviolet;
}

a {
	text-decoration: none;
}

.thumbnailtext {
	position: relative;
	top: -50%;
	font-size: 1.2rem;
	transition: .5s ease;
	opacity: 0;
	width: 75%;
	margin: 0 auto;
}

.card-image:hover {
	opacity: 0.4;
	filter: blur(1px);
}

.card-image:hover + .thumbnailtext {
	opacity: 1;
}

/* Experience*/

.exp-time {
	color: blueviolet;
	font-weight: 700;
	margin-bottom: 0;
}

.exp-header {
	margin-bottom: 1rem;
	font-weight: 300;
	font-size: 2;
}

.exp-subheader {
	font-weight: 700;
}

.exp-text {
	font-weight: 300;
}

@media(max-width: 400px) {
	#mainheader h1{
		word-break: break-all;
	}
}

@media(min-width: 768px) {
	.news-input {
		width: 50%;
	}
}

@media(min-width: 1200px) {
	.initialspacing {
		width: 55%;
	}

	.customspacing {
		width: 70%;
	}
	
	#skillbars {
		margin-left: 2rem;
	}
}

