/* Jos haluan vaihtaa navbarin fixediksi, tämä lisää sille oman tilansa sivun päälle
body::before {
	display: block;
	content: "";
	height: 60px;
} 
*/

body {
	overflow: overlay;
}

::-webkit-scrollbar {
    width: 12px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(22, 13, 29, 0.774);
    border-radius: 2em;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.178);
}

nav {
	backdrop-filter: blur(8px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

#mainheader h1 {
	font-size: 5rem;
	word-break: normal;
}

.mainsub {
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 2.5rem;
}

.headerfont {
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	word-break: break-word;
}

.mylogo {
	position: relative;
	top: -5em;
	width: 13em;
}

.firstbg {
	background-image: url(imgs/backgrounds/newbackground-blur.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.secondbg {
	background-image: url(imgs/backgrounds/workspacebg-blur.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.thirdbg {
	background-image: url(imgs/backgrounds/mountainsbg2.jpg);
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
}

.fourthbg {
	background-image: url(imgs/backgrounds/writingbg-prpl.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.fifthbg {
	background-image: url(imgs/backgrounds/papersandpens.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.sixthbg {
	background-image: url(imgs/backgrounds/programmingbg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#mainheader {
	margin: 5rem auto;
}

#aboutme {
	font-size: large;
}

.outlinebtn {
	background-color: rgba(0, 255, 255, 0);
	border-color: blueviolet;
	transition: .5s ease;
}

.outlinebtn:hover {
	background-color: rgba(219, 136, 240, 0.726);
	border-color: none;
}

.progress-bar {
	background-color: rgb(221, 215, 123);
}

.language:root .skill-percent:root {
	font-size: 20%;
}

.topicheader {
	font-size: 3rem;
}

.topicsubtitle {
	font-weight: 300;
	letter-spacing: 3px;
}

.headernumber {
	color: blueviolet;
}

a {
	text-decoration: none;
}

.thumbnailtext {
	position: relative;
	top: -50%;
	font-size: 1.2rem;
	transition: .5s ease;
	opacity: 0;
	width: 75%;
	margin: 0 auto;
}

.card-image:hover {
	opacity: 0.4;
	filter: blur(1px);
}

.card-image:hover + .thumbnailtext {
	opacity: 1;
}

/* Experience*/

.exp-time {
	color: blueviolet;
	font-weight: 700;
	margin-bottom: 0;
}

.exp-header {
	margin-bottom: 1rem;
	font-weight: 300;
	font-size: 2;
}

.exp-subheader {
	font-weight: 700;
}

.exp-text {
	font-weight: 300;
}

#inputMessage {
	padding-bottom: 3rem;
	overflow-wrap: break-word;
}

.form-control:focus {
	border-color: blueviolet;
	box-shadow: 0 0 0 0.2rem rgba(110, 40, 167, 0.25);
} 

#socialbar {
	letter-spacing: 0.5rem;
	font-size: 2rem;
}

.email {
	word-break: break-all;
}

/* Portfolio */

.gallerytext {
	color: white;
	position: relative;
	top: -50%;
	padding: 0.5rem 0;
	text-align: center;
	opacity: 0;
	transition: .5s ease;
	margin-bottom: -1rem;
}

/* A feather effect 
	background-image: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0) 5%, 
    rgba(17, 15, 20, 0.9) 120%);
*/

.gallerythumbnail img:hover + .gallerytext {
	opacity: 100;
}

.gallerythumbnail img:hover {
	filter: brightness(40%);
}

/* Image modal stuff */
.my-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding: 2em 0 6em 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: 2.5s ease;
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(24, 21, 27, 0.9);
}

.image-modal {
	display: block;
	color: #ccc;
	margin: auto;
	overflow-y: scroll;
	box-shadow: 0 1rem 2rem rgba(14, 11, 19, 0.356);
	max-height: 800px;
}

.modal-cancel {
	font-size: xx-large;
}

.modal-cancel:hover,
.modal-cancel:focus {
  filter: brightness(50%);
  text-decoration: none;
  cursor: pointer;
  transition: .2s ease;
}

.full-image-caption {
	padding: 1rem 0;
	font-weight: 600;
}

.image-modal, .full-image-caption {
	animation-name: fade;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier();
}

/* "about the image" -background */
.modal-bg {
	background: rgb(203,223,192);
	background: linear-gradient(174deg, rgba(203,223,192,0) 0%, rgba(21, 7, 34, 0.459) 100%);
	border: 1px solid rgba(255, 255, 255, 0.116);
}

@keyframes zoom {
	from {transform:scale(0); opacity: 0;}
	to {transform:scale(1); opacity: 100%;}
}
  

@keyframes fade {
	from {opacity: 0;} 
	to {opacity: 100%;}
  }

@media(max-width: 400px) {
	#mainheader h1{
		font-size: 4em;
	}
	#mainheader h2 {
		font-size: xx-large;
	}

	.mylogo {
		width: 8em;
		top: -3em;
	}

	#contact {
		width: 100%;
	}
	section {
		margin: 0 0;
	}
	h1:root h2:root h3:root p:root {
		font-size: 20%;
	}
}

@media(min-width: 768px) {
	.news-input {
		width: 50%;
	}
}

@media(min-width: 1200px) {
	.initialspacing {
		width: 55%;
	}

	.customspacing {
		width: 70%;
	}
	
	#skillbars {
		margin-left: 2rem;
	}
}

